@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0 auto;
  font-family: 'Poppins';
}


/*Estilos contenedor de inputs */
.calc__input__container {
  width: 100%;
  height: auto;
  padding: 5%;
  padding-left: 7% !important;
  padding-right: 7% !important;
  background-color: #2B2B2B;
  color: #ffff;
}

.calc__input__cantidad {
  width: 80%;
  text-align: end;
}

/* Estilos contenedor resultados */
.calc__result__container {
  background-color: #F6F6F6;
  width: 100%;
  height: auto;
  padding: 5%;
  padding-left: 7% !important;
  padding-right: 7% !important;
}

.calc__text__results {
  text-align: end !important;
  color: #666666;
}

.calc__line {

  border-top: 1px solid #666666;
  height: 2px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}


/* Estilos gráfico de calculadora */

/* Opcion 1 */
.calc__chart {
  margin-top: 3em;
  position: relative;
}

/* .calc__chart__text1{
  position: absolute;
    left: 37%;
    top: 35%;
    font-size: 1.2rem;
    color: #14da13;
}

.calc__chart__text2{
  position: absolute;
    left: 42%;
    top: 50%;
    font-size: 1.2rem;
} */

.calc__slider {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  outline: none;
  background: linear-gradient(90deg, #5BE55A 0%, #ffff 0%);
  opacity: 100%;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.calc__slider2 {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  outline: none;
  background: linear-gradient(90deg, #5BE55A 10%, #ffff 0%);
  opacity: 100%;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.calc__slider::-webkit-slider-thumb, .calc__slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #01B400;
  border-radius: 50%;
  cursor: pointer;
}

.calc__slider::-moz-range-thumb, .calc__slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #01B400;
  border-radius: 50%;
  cursor: pointer;
}

/*Opcion 2 */
/* 
.calc__graph__circular{
  height: 100px;
  width: 100px;
  background: black;
  position: relative;
  transform: scale(2);
}

.calc__graph__circular .calc__graph__inner{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  border-radius: 100%;
  background: #F6F6F6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.calc__graph__circular .calc__graph__bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 100%;
  -webkit-border-radius: 100;
  clip: rect(0px, 100px, 100px, 50px);  
}

.calc__graph__circle .calc__graph__bar .calc__graph__progress{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100;
  clip: rect(0px, 50px, 100px, 0px);
  background: #14DA13;
}

.calc__graph__circle .calc__graph__left .calc__graph__progress{
  z-index: 1;
  animation: left 1s linear both;
}

@keyframes left {
  100%{
    transform: rotate(180deg);
  }
}

.calc__graph__circle .calc__graph__right{
  z-index: 3;
  transform: rotate(180deg);
}

.calc__graph__circle .calc__graph__right .calc__graph__progress{
  animation: right 1s linear both;
  animation-delay: 1s;
}

@keyframes right {
  100%{
    transform: rotate(180deg);
  }
} */


/* Ajustes responsive */
@media screen and (max-width: 415px) {
  .calc__chart {
    margin-top: 0;
  }
}

/*estilos generales*/
.calc_helper_margin {
  margin: 30px 0;
}

.calc_helper_top {
  margin-top: 30px;
}

.calc_main_title {
  font-size: 1.75rem;
}

.calc_subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 25px;
}

.calc_legend_min {
  font-weight: 300;
  font-size: 1rem;
}

.calc_white_border {
  border-left: solid 3px #fff;
  padding-left: 5px;
}

.calc_green_border {
  border-left: solid 3px #14da13;
  padding-left: 5px;
}

.calc_big_number_green {
  color: #14da13;
  font-size: 1.4rem;
  font-weight: 500;
}

.calc_btn_green {
  width: 100%;
  background-color: #01B400;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  border: unset;
  font-family: 'Sarabun', Helvetica, Arial, Lucida, sans-serif;
}

.calc_btn_green:hover {
  background-color: #248c16;
}

.calc_typing_money {
  border: unset;
  padding: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.calc_no_right_padding {
  padding-right: 0;
}

.calc_data {
  font-weight: 300;
  color: #666;
}

.calc_data_result {
  font-weight: 500;
  color: #666;
}

.calc_how_legend {
  font-size: .9rem;
  font-weight: 300;
}

#calc-result {
  position: absolute;
  text-align: center;
}

/*fin de estilos generales */
/*custom media querys*/
@media (min-width: 879px) and (max-width: 1024px) {
  .calc_main_title {
    font-size: 1.4rem;
  }

  .calc_subtitle {
    font-size: 1.15rem;
  }

  .calc_big_number_green {
    font-size: 1.2rem;
  }

  .calc_legend_min {
    font-size: .9rem;
  }

  .calc_secondary_legend {
    font-size: .8rem;
  }
}

@media (min-width: 768px) and (max-width: 878px) {
  .calc_main_title {
    font-size: 1.2rem;
  }

  .calc_subtitle {
    font-size: 1rem;
  }

  .calc_secondary_legend {
    font-size: .7rem;
  }

  .calc_legend_min {
    font-size: .78rem;
  }

  .calc_totals {
    font-size: .9rem;
  }

  .calc_big_number_green {
    font-size: 1.2rem;
  }

  .calc_big_number_green {
    font-size: 1.1rem;
  }
  .calc_helper_fix_padding {
    max-width: 50% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 459px) {
  .calc_main_title {
    font-size: 1.2rem;
  }

  .calc_subtitle {
    font-size: 1.1rem;
  }

  .calc_legend_min {
    font-size: .75rem;
  }

  .calc_secondary_legend {
    font-size: .7rem;
  }

  .calc_big_number_green {
    padding-top: 20px;
    font-size: 1rem;
  }

  .calc_totals {
    font-size: .9rem;
  }

  .calc_helper_fix_padding {
    max-width: 50% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .calc_text_data {
    font-size: .9rem;
  }

  .calc_custom_col {
    padding-right: 0 !important;
    max-width: 50% !important;
    padding-left: 0 !important;
  }
}